.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F2EAEA;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}
  
  .header-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .header-logo img {
    height: 50px;
    object-fit: contain;
  }
  
  .logo-name {
    font-family: "Island Moments", cursive;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--text-color);
  }
  
  .header-profile svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; 
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .header-profile svg:hover {
    transform: scale(1.1);
    color: var(--primary-color);
  }
  