/* =====================
   DASHBOARD BASE
===================== */

.dashboard-container {
    display: grid;
    place-content: center;
  }
  
  /* Tu layout principal */
  .dashboard-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    background-color: #FAF7F2;
    margin-bottom: 2.8rem;
    border-radius: 1.5rem;
    padding: 2rem;
  }

  /* =====================
     TOP SECTION
  ===================== */
  
  .dashboard-top {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 3rem;
    padding: 0 3rem;
  }
  .dashboard-top aside {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .dashboard-tasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .task-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  /* =====================
     STATS LAYOUT
  ===================== */
  
  .dashboard-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 3rem;
    width: 100%;
  }
  
  .container-stats-card {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }
  